$color-background-main: #ffffff;
$color-background-secondary: #f2f2f2;
$color-header: #283645;
$color-header-darker: $color-header * 0.9;
$color-header-darkest: $color-header-darker * 0.9;
$color-green: #2aab6d;
$color-green-active: #1c9b5e;
$color-table-border: #e5e5e5;
$color-red: #d22856;
$color-red-active: rgba(210, 40, 86, 0.3);;
$color-main-active: rgba(255, 255, 255, 0.3);
$color-button-grey: unquote('#ffffff4c');
$color-blue-dark: $color-header;

$color-font-main-light: #ffffff;
$color-font-main-dark: #283645;
$color-font-main-darkest: #000000;
$color-font-red: $color-red;

