$color-background-main: #ffffff;
$color-background-secondary: #f2f2f2;
$color-header: #283645;

$color-font-main-light: #ffffff;
$color-font-main-dark: #283645;
$color-font-main-darkest: #000000;
$color-font-red: #d22856;

