/*Open Sans Regular*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*Open Sans Light*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*Open Sans Bold*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
        url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@mixin font($font-size, $font-color, $font-weight: normal) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-color;
}
