$mobile-width: 320px;
$tablet-width: 660px;

$mobile-max-width: $tablet-width - 1;

$desktop-width: 1200px;
$mobile-and-tablet-width: 1199px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

body {
  @include font(18px, $color-font-main-dark);
  padding: 0;
  margin: 0;
  position: relative;
}
