$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-and-tablet-width: 1199px;

body {
  @include font(18px, $color-font-main-dark);
  padding: 0;
  margin: 0;
  position: relative;
}
