@mixin reset-list() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin no-outline() {
  outline: 0;
  background: transparent;

  &::before {
    display: none;
  }
}

@mixin reset-button() {
  background-color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  font-size: 0px;
  cursor: pointer;
  display: block;
}


@mixin triangle($height: 25px, $top: 0) {
  &:before {
    content: "";
    position: absolute;
    top: $top;
    width: 100%;
    height: 100%;
    background: $color-background-secondary url(../img/bg-triangle-white.svg) no-repeat center top;
    background-size: 100% $height;
    z-index: -1;
  }
}
