@import "contacts.scss";
@import "download.scss";
@import "effect.scss";
@import "form.scss";
@import "gallery.scss";
@import "gallery-photo.scss";
@import "main-features.scss";
@import "main-header.scss";
@import "main-nav.scss";
@import "price.scss";
@import "reviews.scss";
@import "social.scss";
@import "upload.scss";




