.contacts {
  height: 612px;
}

.contacts__interaction-list {
  @include reset-list();
}

.contacts_block {
  box-sizing: border-box;
  background-color: $color-background-main;
  height: 412px;
  position: relative;
}

.contacts__map {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.contacts__title {
  @include font(24px, $color-font-main-dark, 30);
  text-align: center;
  margin: 45px 40px 0px;
}

.contacts__label {

  @include font(18px, $color-font-main-darkest, 700);
  text-align: center;
}

.contacts__data {
  margin-top: -20px;
  @include font(24px, $color-font-red, 300);
  text-align: center;

  &--email {
    &:hover {
      @include font(24px, $color-blue-dark, normal);
      text-decoration: underline;
    }
    &:active {
      opacity: 0.3;
      @include font(24px, $color-blue-dark, normal);
      text-decoration: none;
    }
  }
}

.contacts__interaction-list {
  @include reset-list();
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .contacts {
    height: 780px;
  }

  .contacts__title{
    @include font(40px, $color-font-main-dark, normal);
    margin: 50px 140px 50px 140px;
  }

  .contacts__interaction-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__interaction-list-item {
    width: 330px;
    margin: 0 auto;
  }

  .contacts__map {
    height: 375px;
  }

}

@media (min-width: $desktop-width) {
  .contacts {
    height: 869px;
  }
  .contacts__title{
    @include font(50px, $color-font-main-dark, normal);
    margin: 70px 360px ;
  }

  .contacts__interaction-list {
    justify-content: space-around;
  }

  .contacts__interaction-list-item {
    width: 250px;
  }

  .contacts__map {
    height: 503px;
  }
}
