.download {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: center 176px, center 0;
  background-color: $color-header;
  z-index: 0;
  margin: 0 auto;
  margin-top: -66px;
  padding-top: 462px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: -20px 184px, 50% 0px;
    height: 545px;
    margin-top: -110px;
    padding-top: 213px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: 145px 210px, 50% 0px;
    height: 643px;
  }
}

.download__wrapper {
  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 130px;
  }
}

.download__slogan {
  @include font(40px, $color-font-main-light);
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.download__link {
  @include font(18px, $color-font-main-light, bold);
}

.download__list-item {
  width: 56px;
  height: 56px;
  &--apple {
    background-image: url("../img/logo-apple.svg");
  };

  &--android {
    background-image: url("../img/logo-android.svg");
  };

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
  };
}

.download__description {
  @include font(14px, $color-font-main-light, normal);
  line-height: 1.71;
  text-align: center;
}
