.download {
  z-index: 0;
  margin: 0 auto;
  //margin-top: -66px;
  padding-top: 396px;

  box-sizing: border-box;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: -66px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100%;
    background-position: left 176px, center 0px;
    background-color: $color-header;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
      background-size: 240px 286px, cover;//320px 462px;
      background-position: left 176px, center -66px;
    }
  }
}

.download__wrapper{
  background-color: $color-header;
}

.download__block {
  width: $mobile-width;
  margin: 0 auto;
  padding: 28px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
}

.download__slogan {
  display: none;
}

.download__link-button {
  @include reset-button();
  width: 281px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 3px solid $color-background-main;
  border-radius: 27px;

  @include font(18px, $color-font-main-light, bold);

  &:hover {
    @include font(18px, $color-red, bold);
    background-color: $color-background-main;
  }

  &:active {
    @include font(18px, $color-red-active, bold);
    background-color: $color-background-main;

  }
}

.download__list {
  @include reset-list();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 57px;
  margin-bottom: 28px;
}

.download__list-item {

  &--apple {
    width: 46px;
    height: 56px;
    background-image: url("../img/logo-apple.svg");
  };

  &--android {
    width: 42px;
    height: 47px;
    background-image: url("../img/logo-android.svg");
  };

  &--windows {
    width: 43px;
    height: 41px;
    background-image: url("../img/logo-microsoft.svg");
  };
}

.download__description {
  @include font(14px, $color-font-main-light, normal);
  line-height: 1.71;
  text-align: center;
  margin: 0 40px;
}


@media (min-width: $tablet-width) {
  .download
  {
    height: 619px;
    //margin-top: -110px;
    padding-top: 100px;

    &:after {
      top: -110px;
      height: 729px;
      background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
      background-position: center 200px, center 0px;
      background-size: auto, cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
        background-size: 700px 545px, cover;
        background-position: center 200px, center 0px;
      }
    }
  }

  .download__wrapper {
    width: $tablet-width;
    margin: 0 auto;
  }

  .download__block {
    width: 300px;
    margin-left: 20px;
    padding: 0;
  }

  .download__slogan {
    display: block;
    @include font(40px, $color-font-main-light);
    margin: 0 50px 35px;
    text-align: center;
  }

  .download__wrapper {
    background: none;
  }
  .download__description {
    margin: 0;
    @include font(18px, $color-font-main-light, normal);
    line-height: 1.33;
  }
}

@media (min-width: $desktop-width) {
  .download {
    height: 743px;
    padding-top: 120px;

    &:after {
      top: -110px;
      height: 853px;
      background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
      background-position: 65% 208px, center 0px;
      background-size: auto, cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
        background-size: 1050px 645px, cover;
        background-position: center 208px, center 0px;
      }
    }
  }

  .download__wrapper {
    width: $desktop-width;
  }

  .download__block {
    margin-left: 130px;
  }

}


