.effect {
  display: none;

}

.effect_block {
  //position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.effect__timer {
  // opacity: 0.3;
  // position: absolute;
}

.effect__wrapper {
  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}

.effect__title {
  @include font(30px, $color-font-main-darkest, bold);
  line-height: 1.2;
  text-align: left;
}

.effect__desciption {
  @include font(14px, $color-font-main-dark, normal);
  line-height: 1.71;
  text-align: left;
}

.effect_link{
  @include font(14px, $color-font-red, normal);
  text-align: left;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .effect {

    display: block;
    background-color: $color-background-main;
  }

  .effect_block {
    width: $tablet-width;

    padding: 58px 20px 30px;
  }

  .effect__timer {
    width: 238px;
    height: 276px;
    position: relative;
    box-sizing: border-box;
  }

  .effect__timer-img {
    display: block;
    padding: 0;
    margin: 0;
    width: 238px;
    height: 276px;
    opacity: 0.1;
  }

  .effect__timer-value {
    display: block;
    box-sizing: border-box;
    width: 202px;
    height: 202px;
    position: absolute;
    left: 18px;
    bottom: 18px;
    border: 14px solid $color-red;
    border-radius: 50%;
    @include font(96px, $color-font-red, bold);
    text-align: center;
    padding-top: 15px;
  }

  .effect__wrapper {
    margin-right: 10px;
  }

  .effect__desciption {

    margin-top: 0px;
  }
}

@media (min-width: $desktop-width) {
  .effect{
    display: block;
    background-color: $color-background-secondary;
  }

  .effect_block {
    width: $desktop-width;
    background-color: $color-background-secondary;
    padding: 25px 130px 67px;
  }

  .effect__timer {
    width: 298px;
    height: 345px;
    position: relative;
    box-sizing: border-box;
  }

  .effect__timer-img {
    display: block;
    padding: 0;
    margin: 0;
    width: 298px;
    height: 345px;
    opacity: 0.1;
  }

  .effect__timer-value {
    display: block;
    box-sizing: border-box;
    width: 253px;
    height: 253px;
    position: absolute;
    left: 22px;
    bottom: 22px;

    border: 16px solid $color-red;
    border-radius: 50%;
    @include font(120px, $color-font-red, bold);
    text-align: center;
    padding-top: 20px;
  }

  .effect__wrapper {
    margin-left: 65px;
    margin-top: 13px;
  }

  .effect__title {
    br {
      display: none;
    }
  }

  .effect__desciption {
    display: block;
    @include font(18px, $color-font-main-dark, 400);
    line-height: 1.67;
    text-align: left;
  }

  .effect_link{
    display: block;
    @include font(18px, $color-font-red, 400);
    text-align: left;
    text-decoration: none;
    //margin-top: 20px;
  }
}
