.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  //padding: 0 22px;
}

.form__header {
  @include font(14px, $color-font-main-dark, normal);
  line-height: 2.14;
  text-align: center;
  //margin-top: 55px;
  //margin-bottom: 45px;

  padding: 5px 20px 8px;
}

.form__header-request {
  display: none;
}

.form__block {
  margin: 0 auto;
  //width: $mobile-width;
  box-sizing: border-box;
}

.form__fieldset {
  border: none;
  padding: 0 18px;
  box-sizing: border-box;


  &--person {
    background-color: $color-background-main;
    order: 1;
    padding-bottom: 25px;

  }

  &--achievements {
    background-color: $color-background-secondary;
    order: 2;
    margin-bottom: -5px;
  }

  &--contact {
    background-color: $color-background-main;
    order: 3;
    padding-top: 14px;
    padding-bottom: 26px;
  }

  &--application {
    background-color: $color-background-secondary;
    order: 4;
    padding-bottom: 5px;
  }

  &--emotion {
    background-color: $color-background-main;
    order: 5;
  }
}

.form__person-input {
  display: flex;
  flex-direction: column;
}

.form__contact-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__title {
  @include font(14px, $color-font-main-dark, normal);
  line-height: 2.14;

  &--red {
    @include font(14px, $color-font-red, normal);
    line-height: 1.29;
  }
}


.form__legend-label {
  @include font(14px, $color-font-red, normal);
  text-transform: uppercase;
  line-height: 1.29;

  width: 100%;//$mobile-width;
  margin: 40px auto;

  float: left;
  text-align: center;

  &--contact {
    display: none;
  }
}

.form__label {

  @include font(14px, $color-font-red, normal);

  &--for-text {
    text-transform: uppercase;
    line-height: 2.14;
    margin-left: 20px;
  };

  &--for-contact {
    order: 1;
  }


  &--for-checkbox {
    @include font(18px, $color-font-main-dark, normal);
    line-height: 1.67;
    margin-left: 68px;
    position: relative;
    cursor: pointer;

    &:after {
      position: absolute;
      content: "";
      width:  35px;
      height: 35px;
      left: -68px;
      top: -6px;

      background-color: $color-background-main;
      border: 2px solid $color-table-border;
    }

    &:hover {
      &:after {
        border: 2px solid $color-blue-dark;
      }
    }

    &:active {
      &:after {
        border: 2px solid $color-red;
      }
    }
  };

  &--for-radio {
    @include font(18px, $color-font-main-dark, normal);
    line-height: 1.67;
    margin-left: 68px;
    position: relative;
    cursor: pointer;

    &:after {
      position: absolute;
      content: "";
      width:  37px;
      height: 36px;
      left: -68px;
      top: -6px;

      background-color: $color-background-main;
      border: 2px solid $color-table-border;
      border-radius: 50%;
    }

    &:hover {
      &:after {
        border: 2px solid $color-blue-dark;
      }
    }

    &:active {
      &:after {
        border: 2px solid $color-red;
      }
    }
  }
}

.form__intput-checkbox:checked + .form__label--for-checkbox {
  &:after {
    background-image: url("../img/icon-yes-red.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.form__intput-radio:checked + .form__label--for-radio {
  &:after {
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.form__intput-radio:not(:checked)+ .form__label--for-radio {
  &:after {
    background: none;
  }
}

.form__intput-checkbox:focus + .form__label--for-checkbox {
  &:after {
    border: 2px solid $color-blue-dark;
  }
}

.form__intput-text {
  @include font(18px, $color-font-main-dark, normal);
  line-height: 1.67;
  height: 61px;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 7px;

  &--contact {
    order: 2;
  }

  &:hover {
    border: 2px solid $color-font-main-dark;
  }

  &:focus {
    outline: none;
    border: 2px solid $color-font-red;
  }
}

.form__emotion-label {
  @include font(14px, $color-font-red, normal);
  line-height: 2.14;
}

.form__emotion-text {
  @include font(18px, $color-font-main-dark, normal);
  line-height: 1.67;

  width: 279px;
  height: 202px;

  margin-top: -26px;
  padding: 15px 18px;
  box-sizing: border-box;

  border: 2px solid $color-table-border;
  resize: none;
}

.form__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 6;
  flex-grow: 1;
  padding: 0;
  margin-top: 43px;

}

.form__submit-buttom {
  @include reset-button();
  background-color: $color-green;
  @include font(18px, $color-font-main-light, bold);
  line-height: 1.67;

  width: 280px;
  height: 62px;
  border-radius: 3px;
  text-transform: uppercase;

  &:hover {
    background-color: $color-green-active;
  }

  &:active {
    @include font(18px, $color-main-active, bold);
  }

  &:disabled {
    background-color: $color-table-border;
  }
}

.form__achievements-input {
  margin-bottom: 52px;
}

.form__application-input {
  margin-bottom: 43px;
}

.form__submit-hint {
  @include font(14px, $color-font-main-dark, normal);
  text-transform: uppercase;
  line-height: 2.14;
  text-align: center;
  margin-top: 35px;
}

.form__submit-hint-ex {
  display: none;
}

.form__asterix {
  @include font(14px, $color-font-red, normal);
}

@media (min-width: $tablet-width) {
  .form {
    width: $tablet-width;
    margin: 0 auto;
  }

  .form__header {
    padding: 12px 60px 31px;
    @include font(18px, $color-font-main-dark, normal);
    line-height: 1.67;
  }

  .form__header-request {
    display: inline;
  }

  .form__block {
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form__fieldset {
    border: 2px solid $color-table-border;
    margin: 0 20px 50px;


    &--person {
      border: none;
      padding: 0;
      order: 1;
      margin-bottom: 29px;
    }

    &--achievements {
      margin-top: 8px;
      padding: 30px 60px 20px;
      background-color: $color-background-main;
      order: 4;
    }

    &--contact {
      margin-top: 8px;
      padding: 12px 60px 20px 40px;
      background-color: $color-background-main;
      order: 3;
    }

    &--application {
      padding: 30px 60px;
      background-color: $color-background-main;
      order: 2;
    }

    &--emotion {
      margin-top: 8px;
      padding: 47px 0 42px;
      background-color: $color-background-main;
      order: 5;
    }
  }

  .form__legend-label{
    margin: 0 auto;
    float: none;
    width: auto;
    text-align: center;

    &--contact {
      display: inline;
    }
  }

  .form__person-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 29px;
  }

  .form__contact-input {
    flex-direction: column;
    margin-bottom: 7px;

    &:after {
      content: "";
      position: absolute;
      right: 0px;
      top: 6px;
      display: block;
      width: 62px;
      height: 62px;
      background-color: $color-table-border;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &--phone {
      &:after {
        background-image: url(../img/icon-phone.svg);
        background-size: 20px 19px;
      }
    }

    &--email {
      &:after {
        background-image: url(../img/icon-mail.svg);
        background-size: 18px 13px;
      }
    }
  }

  .form__contact-input-phone {
    &:after {
      content: "";
      position: absolute;
      right: 60px;
      top: 0px;
      display: block;
      width: 60px;
      height: 60px;
      background-image: url(../img/icon-phone.svg);
      background-size: 20px 19px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }


  .form__label {
    &--for-text {
      line-height: 2.14;
      margin-left: 0px;
      margin-top: 6px;
    };

    &--for-contact {
      order: 2;
      margin-left: 37px;
      margin-top: 10px;
    }

    &--for-checkbox {
      margin-left: 58px;
      &:after {
        left: -58px;
      }
    }

    &--for-radio {
      margin-left: 58px;
      &:after {
        left: -58px;
      }
    }
  }
  .form__intput-text {
    margin-left: 20px;
    flex-grow: 1;

    &--contact {
      order: 1;
    }
  }

  .form__achievements-input {
    margin-bottom: 34px;
  }

  .form__application-input {
    margin-bottom: 28px;
  }

  .form__emotion-text {
    @include font(18px, $color-font-main-dark, normal);
    line-height: 1.67;
    margin: -12px auto 10px;
    width: 496px;
    height: 192px;

    padding: 16px 18px;
  }

  .form__submit {
    margin: 10px 0 50px;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form__submit-buttom {
    width: 302px;
  }

  .form__submit-hint {
    margin-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 936px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__header {
    margin: 15px 30px 30px;
  }

  .form__block {
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--contact {
      flex-direction: row;
    }

    &--achievements {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .form__contact-input {
    // flex-grow: 1;
    width: 391px;
  }

  .form__achievements-input {

  }

  .form__fieldset {
    border: 2px solid $color-table-border;
    margin: 0;
    margin-bottom: 50px;
    //padding: 50px 60px;


    &--person {
      border: none;
      padding: 0;
      width: 431px;
    }

    &--achievements {
      background-color: $color-background-main;
      width: 936px;
      padding: 30px 60px 25px;
      margin-top: 8px;
    }

    &--contact {
      background-color: $color-background-main;
      width: 936px;
      padding: 12px 60px 5px 40px;
      margin-top: -20px;
    }

    &--application {
      background-color: $color-background-main;
      width: 431px;
      margin-top: 10px;
      padding: 30px 0px 1px 72px;
      margin-bottom: 75px;
    }

    &--emotion {
      margin-top: 8px;
      background-color: $color-background-main;
      width: 936px;
      padding: 47px 0 40px;
    }
  }

  .form__legend-label{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 300px;
  }

  .form__emotion-text {
    width: 816px;
    height: 124px;

  }


  .form__submit {
    padding: 0;
  }

  .form__submit-buttom {
    width: 296px;
  }

  .form__submit-hint {
    margin-top: 20px;
  }

  .form__submit-hint-ex {
    display: inline;
  }

  .form {
    margin-bottom: -35px;
  }
}
