.gallery {
  background-color: $color-background-main;
}

.gallery__header {
  background-color: $color-background-main;
  padding: 5px 30px 40px;
}

.gallery__title {
  @include font(14px, $color-font-main-dark, normal);
  line-height: 2.17;
  text-align: center;
  padding: 0 5px;
}

.gallery__list {
  @include reset-list();
  display: flex;
  flex-direction: column;
}

.gallery__list-item {
  width: 320px;
}


@media (min-width: $tablet-width) {
  .gallery__header{
    padding: 11px 100px 60px 100px;
  }

  .gallery__title {
    @include font(18px, $color-font-main-dark, normal);
    line-height: 1.67;
    text-align: center;
  }

  .gallery__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery__list-item {
    width: 300px;

    margin: 0 10px;

    &:first-child {
      width: 660px;
    }
  }
}


@media (min-width: $desktop-width) {
  .gallery__header{
    padding: 11px 280px 74px;
  }

  .gallery__list {
    margin: 0 auto;
    width: 940px;
    justify-content: space-between;
    margin-bottom: -50px;
  }
  .gallery__list-item {
    width: 300px;
    margin: 0px;

    &:first-child {
      width: 940px;
    }
  }
}
