
.gallery-photo {
  position: relative;
}

.gallery-photo__wrapper {
  background-color: $color-background-secondary;
  margin: 0 20px 20px 20px;
  padding: 25px 20px 20px 20px;
}


.gallery-photo__image {
  display: block;
  margin: 0 auto;

  &--panorama-of-the-day ~ div {
    &:after{
      content: "Панорама дня";
      box-sizing: border-box;
      text-align: center;
      position: absolute;
      padding-top: 10px;
      top: 0;
      right: 20px;

      @include font(12px, $color-font-main-light, normal);
      text-transform: uppercase;

      width: 140px;
      height: 36px;
      background-color: $color-red;
    }
  }

}

// .gallery-photo__image--panorama-of-the-day ~ div {
//   &:after{
//     content: "Панорама дня";
//     position: absolute;
//     top: 0;
//     right: 0;

//     @include font(12px, $color-font-main-light, normal);
//     text-transform: uppercase;

//     width: 140px;
//     height: 36px;
//     background-color: $color-red;
//   }
// }

.gallery-photo__autor {
  @include font(14px, $color-font-main-darkest, bold);
  line-height: 24px;
  margin: 0;
  padding: 0;
  order: 1;

}

.gallery-photo__time-ago {
  @include font(12px, $color-font-main-dark, normal);
  line-height: 24px;
}

.gallery-photo__description {
  @include font(14px, $color-font-main-dark, normal);
  line-height: 24px;
  order: 2;
}

.gallery-photo__like-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  order: 3;
}

.gallery-photo__like-button {
  @include reset-button();
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
}

.gallery-photo__like-counter {
  display: block;
  @include font(12px, $color-font-red, normal);
  text-transform: capitalize;
  line-height: 2;
  margin: 0;
  padding: 0 0 0 19px;
}

@media (min-width: $tablet-width) {
  .gallery-photo{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery-photo__wrapper {
    height: 155px;
    box-sizing: border-box;
    margin: 0 0px 50px 0px;
    display: flex;
    flex-direction: column;

    &--panorama {
      height: 121px;
      margin: 0 20px 50px 20px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .gallery-photo__wrapper--panorama .gallery-photo__like-block{
    order: 2;
  }

  .gallery-photo__wrapper--panorama .gallery-photo__description{
    order: 3;
  }

  .gallery-photo__wrapper--panorama .gallery-photo__like-counter{
    margin-right: 17px;
  }

  .gallery-photo__like-block {
    justify-content: space-between;
    margin-top: auto;
  }

  .gallery-photo__like-button {
    order: 2;
    padding-right: 20px;
  }
  .gallery-photo__like-counter {
    order: 1;
    padding-left: 0;
    text-transform: uppercase;
  }

  .gallery-photo__image {
    width: 300px;
    height: 300px;

    &--panorama-of-the-day {
      width: 660px;
      height: 509px;
    }

    &--panorama-of-the-day ~ div {
      &:after{
        top: 57px;
      }
    }

    // &--car {
    //   background: url("../img/photo-car-tablet@1x.jpg") no-repeat;
    // }
    // &--drums {
    //   background: url("../img/photo-drumset-tablet@1x.jpg") no-repeat;
    // }
    // &--windows {
    //   background: url("../img/photo-window-tablet@1x.jpg") no-repeat;
    // }
    // &--cuban {
    //   background: url("../img/photo-fair-tablet@1x.jpg") no-repeat;
    // }
    // &--legs {
    //   background: url("../img/photo-pov-tablet@1x.jpg") no-repeat;
    // }
    // &--plane {
    //   background: url("../img/photo-wing-tablet@1x.jpg") no-repeat;
    // }
  }




}

@media (min-width: $desktop-width) {
  .gallery-photo__wrapper {
    margin: 0 0px 50px 0px;
  }

  .gallery-photo__image {
    width: 300px;
    height: 400px;
    &--panorama-of-the-day {
      width: 1200px;
      height: 506px;
      margin-left: -130px;
    }
  }
}
