.main-header {
  height: 171px;
  //margin-top: -66px;

  display: flex;
  justify-items: center;
  align-items: center;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% -66px;
  //background-position: center -66px;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header__title {
  @include font(24px, $color-font-main-light, normal);
  text-align: center;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-header {
    height: 330px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% -110px;
    background-repeat: no-repeat;

  }

  .main-header__title {
    @include font(50px, $color-font-main-light, normal);
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    height: 284px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% -110;
    //padding: 0 200px;
  }
}
