 .main-nav {
  z-index: 10;
  background-color: #283645;
  a {
    text-decoration: none;
  }
}

.main-nav__list {
  @include reset-list();
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}


.main-nav__list-item {
  height: 63px;
  a {
    @include font(18px, $color-font-main-light, bold);
    text-transform: uppercase;
    line-height: 1.78;
  }
  text-align: center;
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
  }
}
