.price {
  background-color: $color-background-secondary;
}

.price__name {
  @include font(18px, $color-font-main-light, bold);
}

.price__value,
.price__currency {
  @include font(24px, $color-font-main-light, normal);
}

.price__type {
  @include font(10px, $color-font-main-light, normal);
}

.price__option {
  @include font(14px, $color-font-main-dark, normal);
}

.price__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 200px;
}


.price__header {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.price__data {
  width: 100px;
  display: flex;
  flex-direction: column;
}
