.price {
  height: 470px;
  padding-top: 90px;
  box-sizing: border-box;

  position: relative;
  @include triangle($height: 25px, $top: 0);
}

.price__wrapper{
  margin: 0 auto;
}

.price__table {
  display: flex;
  flex-direction: row;
  position: relative;
  width: $mobile-width;

  overflow: hidden;
}

.price__list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  //position: absolute;
  //left: -250px;

//  left: 100px;
  width: $mobile-width;
  margin-left: -139px;
  //overflow: hidden;
}


.price__data {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 278px;
  padding-top: 94px;
  position: relative;
}

.price__header {
  position: absolute;

  height: 98px;
  width: 278px;
  &--name {
    text-transform: uppercase;
    border-left: solid 2px $color-table-border;
    background-color: $color-header;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    padding-top: 20px;
    text-align: center;
    @include font(18px, $color-font-main-light, bold);
  };
  &--value, {
    top: 45px;
    left: 89px;
    @include font(24px, $color-font-main-light, 300);
  };
  &--popularity {
    //position: relative;
    z-index: 10;
    top: 13px;
    left: 10px;
    @include font(10px, $color-font-main-light, normal);
    text-transform: uppercase;
    //transform: rotate(45deg);



    &:after {
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      top: -14px;
      width: 74px;
      height: 73px;
      z-index: 1;
      background-image: url("../img/bg-hit.svg");
      background-size: 74px 73px;
      background-repeat: no-repeat;
      background-position: 0% 0%;
    }

  };
  &--currency {
    top: 50px;
    left: 140px;
    @include font(24px, $color-font-main-light, normal);
  };
}

.price__cell {
  width: 278px;
  height: 63px;
  border-bottom: solid 2px $color-table-border;
  border-left: solid 2px $color-table-border;
  background-color: $color-background-main;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &--column-name {
    position: relative;
    justify-content: left;
    @include font(14px, $color-font-main-dark, normal);
  };

  &--column-name span {
    display: block;
    z-index: 10;
    position: absolute;
    left: 577px;
    text-transform: uppercase;
  }

  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--true {
    font-size: 0;
    background-image: url("../img/icon-yes.svg");
    background-size: 31px 21px;
    background-position: 93% 60%;
  };

  &--false {
    font-size: 0;
    background-image: url("../img/icon-no.svg");
    background-size: 27px 26px;
    background-position: 92% 45%;

  };
}

.price__toggles {
  margin: 40px auto 0;
}

@media (min-width: $tablet-width) {
  .price {
    height: 375px;
    padding-top: 87px;

    position: relative;
    @include triangle($height: 50px, $top: 0);
  }

  .price__table {
    overflow: visible;
    width: $tablet-width;
  }

  .price__list {
    position: relative;
    left: 0;
    margin: 0;
    width: $tablet-width;
  }

  .price__data {
    width: 155px;
    padding-top: 75px;
  }
  .price__header {
    width: 155px;
    height: 79px;

    &--name {
      padding-top: 16px;
      @include font(16px, $color-font-main-light, bold);
    }

    &--value, {
      top: 40px;
      left: 40px;
      @include font(18px, $color-font-main-light, normal);
    }

    &--popularity{

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: -10px;
        top: -13px;
        width: 61px;
        height: 61px;
        z-index: 1;
        background-image: url("../img/bg-hit-tablet.svg");
        background-size: 61px 61px;
        background-repeat: no-repeat;
        background-position: 0% 0%;
      }
    }
  }
  .price__cell {
    height: 49px;
    width: 155px;

    &--column-name {
      padding: 0 15px;
    }

    &--column-name span {
      display: block;
      z-index: 10;
      position: relative;
      left: 0;
      text-transform: capitalize;
    }

    &--true {
      background-position-x: 50%;
    }

    &--false {
      background-position-x: 50%;
    }
  }

  .price__toggles {
    display: none;
  }
}
@media (min-width: $desktop-width) {
  .price {
    height: 527px;
    padding-top: 148px;

    position: relative;
    @include triangle($height: 82px, $top: 0);
  }

  .price__table {
    width: $desktop-width;
  }

  .price__list {
    width: $desktop-width;
  }

  .price__data {
    width: 235px;
    padding-top: 94px;
    &--header {

    }
  }

  .price__header {
    width: 235px;
    height: 97px;

    &--name {
      padding-top: 20px;
      @include font(18px, $color-font-main-light, bold);
    }

    &--value, {
      top: 45px;
      left: 68px;
      @include font(24px, $color-font-main-light, 300);
    }

    &--popularity{

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: -10px;
        top: -14px;
        width: 74px;
        height: 73px;
        z-index: 1;
        background-image: url("../img/bg-hit.svg");
        background-size: 74px 73px;
        background-repeat: no-repeat;
        background-position: 0% 0%;
      }
    }
  }

  .price__cell {
    height: 63px;
    width: 235px;

    &--column-name {
      padding: 0 24px;
    }

    &--column-name span {
      @include font(18px, $color-font-main-dark, normal);
    }
  }


}
