.price {

  background-color: $color-background-secondary;
  height: 534px;
  padding-top: 159px;
  box-sizing: border-box;
}

.price__wrapper{
  margin: 0 auto;
}

.price__table {
  display: flex;
  flex-direction: row;
  position: relative;
  width: $mobile-width;

  overflow: hidden;
}

.price__list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  //position: absolute;
  //left: -250px;

//  left: 100px;
  width: $mobile-width;
  margin-left: -139px;
  //overflow: hidden;
}


.price__data {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 276px;
  padding-top: 94px;

}

.price__header {
  position: absolute;

  height: 94px;
  width: 276px;
  &--name {
    border-left: solid 2px $color-table-border;
    background-color: $color-header;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    padding-top: 20px;
    text-align: center;
    @include font(18px, $color-font-main-light, bold);
  };
  &--value, {
    top: 50px;
    left: 89px;
    @include font(24px, $color-font-main-light, normal);
  };
  &--popularity {
    //position: relative;
    z-index: 10;
    top: 13px;
    left: 10px;
    @include font(10px, $color-font-main-light, normal);
    text-transform: uppercase;
    //transform: rotate(45deg);



    &:after {
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      top: -14px;
      width: 74px;
      height: 73px;
      z-index: 1;
      background-image: url("../img/bg-hit.svg");
      background-size: 74px 73px;
      background-repeat: no-repeat;
      background-position: 0% 0%;
    }

  };
  &--currency {
    top: 50px;
    left: 140px;
    @include font(24px, $color-font-main-light, normal);
  };
}

.price__cell {
  width: 276px;
  height: 59px;
  border-bottom: solid 2px $color-table-border;
  border-left: solid 2px $color-table-border;
  background-color: $color-background-main;

  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &--column-name {
    @include font(14px, $color-font-main-dark, normal);
    margin-left: (276 * 2)px;
  };

  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--true {
    font-size: 0;
    background-image: url("../img/icon-yes.svg");
    background-size: 31px 21px;
    background-position-x: 90%;
  };

  &--false {
    font-size: 0;
    background-image: url("../img/icon-no.svg");
    background-size: 27px 26px;
    background-position-x: 90%;
  };
}

@media (min-width: $tablet-width) {
  .price__table {
    overflow: visible;
    width: $tablet-width;
  }

  .price__list {
    position: relative;
    left: 0;
    margin: 0;
    width: $tablet-width;
  }

  .price__data {
    width: 152px;
    padding-top: 75px;
    &--header {

    }
  }
  .price__header {
    width: 152px;
    height: 75px;

    &--name {
      padding-top: 16px;
      @include font(16px, $color-font-main-light, bold);
    }

    &--value, {
      top: 44px;
      left: 40px;
      @include font(18px, $color-font-main-light, normal);
    }

    &--currency {
      top: 44px;
      left: 80px;
      @include font(18px, $color-font-main-light, normal);
    }

    &--popularity{

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: -10px;
        top: -13px;
        width: 61px;
        height: 61px;
        z-index: 1;
        background-image: url("../img/bg-hit-tablet.svg");
        background-size: 61px 61px;
        background-repeat: no-repeat;
        background-position: 0% 0%;
      }
    }
  }
  .price__cell {
    height: 45px;
    width: 152px;

    &--true {
      background-position-x: 50%;
    }

    &--false {
      background-position-x: 50%;
    }
  }

  .price__toggles {
    display: none;
  }
}
@media (min-width: $desktop-width) {
  .price__table {
    width: $desktop-width;
  }

  .price__list {
    width: $desktop-width;
  }

  .price__data {
    width: 233px;
    padding-top: 94px;
    &--header {

    }
  }

  .price__header {
    width: 233px;
    height: 94px;

    &--name {
      padding-top: 20px;
      @include font(18px, $color-font-main-light, bold);
    }

    &--value, {
      top: 50px;
      left: 68px;
      @include font(24px, $color-font-main-light, normal);
    }

    &--currency {
      top: 50px;
      left: 120px;
      @include font(24px, $color-font-main-light, normal);
    }

    &--popularity{

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: -10px;
        top: -14px;
        width: 74px;
        height: 73px;
        z-index: 1;
        background-image: url("../img/bg-hit.svg");
        background-size: 74px 73px;
        background-repeat: no-repeat;
        background-position: 0% 0%;
      }
    }
  }

  .price__cell {
    height: 59px;
    width: 233px;
  }
}
