.registration {
  background-color: $color-background-main;

  width: $mobile-width;
  min-width: $mobile-width;

  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .registration {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .registration {
    width: $desktop-width;
  }
}
