.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 20px;
  height: 100%;
}

.social__list {
  @include reset-list();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 178px;
  margin: 0 auto;
}

.social__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 46px;
  border: 3px solid rgba($color-header, 0.1);
  border-radius: 50%;
  margin: 5px 0;

  @media (min-width: $tablet-width) {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &:hover:not(:active) {
    border-color: $color-header;
  }
}

.social__link:active .social__icon {
  opacity: 0.3;
}

.social__icon {
  fill: $color-red;
  position: absolute;

  &--twitter {
    top: 15px;
    left: 14px;
    width: 18px;
    height: 15px;
  }

  &--facebook {
    top: 12px;
    left: 18px;
    width: 9px;
    height: 19px;
  }

  &--youtube {
    top: 15px;
    left: 17px;
    width: 15px;
    height: 14px;
  }
}



.social__copyright {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 0;
  //margin-top: 34px;

  @media (min-width: $tablet-width) {
    flex-shrink: 0;
    margin-top: 14px;
    margin-bottom: 9px;
    width: 150px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    margin-top: 15px;
  }
}

.social__copyright-text {
  @include font(14px, $color-font-main-dark, normal);
  display: inline-block;
  vertical-align: top;


  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    font-size: 18px;
    line-height: 18px;
  }
}

.social__copyright-link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
  width: 27px;
  height: 34px;
}

.social__copyright-logo {
  fill: $color-red;

  &:hover {
    fill: $color-header;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    flex-direction: row;
  }
}
@media (min-width: $desktop-width) {
  .social {
    padding: 0 130px;
  }
}
