// .main-nav {

// }


.main-nav__toggle {
  width: 24px;
  height: 23px;
  background-image: url("./../../img/icon-menu-cross.svg")
}

.main-nav__list-item {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: $color-font-main-light;
  box-shadow: 0px 1px 0 0 #000000, inset 0px 1px 0 0 #ffffff26;
  box-shadow: 0px 1px 0 0 var(--black), inset 0px 1px 0 0 #ffffff26;
}
