.page-header {
  display: block;
  z-index: 10;
  margin: 0 auto;
  min-width: $mobile-width;
  background-color: $color-header;
}

.page-header__constant {
  height: 66px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.page-header__navigation {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header {
    //width: $tablet-width;
  }
  .page-header__constant {
    height: 110px;
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .page-header__constant {
    height: 110px;
    margin-left: 130px;
  }

  .page-header__navigation {
    margin: 0 130px;
  }
}



