.page-footer {
  background-color: $color-background-main;
  margin: 0 auto;
  width: $mobile-width;

  &--main {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    height: 127px;
    width: $tablet-width;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    height: 177px;
    display: block;
    width: $desktop-width;
  }
}
