.page-footer {
  background-color: $color-background-main;
  margin: 0 auto;
  min-width: $mobile-width;
  height: 284px;
  box-sizing: border-box;
  z-index: 3;

  &--main {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    height: 127px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    height: 177px;
    display: block;
  }
}
