.page-main__block {
  width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-main__block {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-main__block {
    width: $desktop-width;
  }
}
